body {
    width: 100%;
    height: 100%;
    margin: 0;
}

/*
COLOR PALLETE CODE:
Base color: #A13333;
Highlight: #B3541E;
Accent1: #461111;
Accent2: #040303;
*/

/*----------START YOU CODE BELOW THIS LINE!----------*/
